.mascot {
  display: inline-block;
  position: relative;
}

.mascot-small {
  width: 90px;
  height: 90px;
}

.mascot-medium {
  width: 120px;
  height: 120px;
}

.mascot-large {
  width: 150px;
  height: 150px;
}

.mascot-body {
  width: 100%;
  height: 100%;
  background-color: #ff6b6b;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.mascot-ears {
  position: absolute;
  top: -10px;
  width: 100%;
  height: 30px;
}

.ear {
  width: 30px;
  height: 30px;
  background-color: #ff6b6b;
  border-radius: 50%;
  position: absolute;
}

.left-ear {
  left: 15px;
}

.right-ear {
  right: 15px;
}

.mascot-face {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 50%;
}

.mascot-eyes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.eye {
  width: 12px;
  height: 12px;
  background-color: #333333;
  border-radius: 50%;
}

.mascot-nose {
  width: 15px;
  height: 10px;
  background-color: #333333;
  border-radius: 50%;
  margin: 0 auto;
}

.mascot-mouth {
  width: 20px;
  height: 8px;
  border-bottom: 2px solid #333333;
  border-radius: 0 0 50% 50%;
  margin: 5px auto 0;
}

.mascot-happy .mascot-mouth {
  border-radius: 0 0 50% 50%;
}

.mascot-sad .mascot-mouth {
  border-radius: 50% 50% 0 0;
  transform: rotate(180deg);
}

.mascot-excited .mascot-eyes {
  height: 15px;
  width: 15px;
}